<section class="footer">
    <div class="footer-all">
        <div>
            <div class="footer-logo">
                <a href="посилання на головну">
                    <img class="logo-img" src="шлях на іконку" alt="FocusFrame">
                </a>
            </div>
            <div class="contacts">
                <ul class="contacts-list">
                    <li>Ua: +38 066 543 8912</li>
                    <li>Ukraine, Kyiv</li>
                </ul>
            </div>
        </div>
        <div class="social-navigation">
            <ul class="social-list">
                <a href="посилання">instagram</a>
                <a href="посилання">facebook</a>
                <a href="посилання">youtube</a>
            </ul>
            <ul class="navigation-list">
                <a href="">About us</a>
                <a href="">Our courses</a>
                <a href="">Our mentors</a>
                <a href="">Reviews</a>
                <a href="">contacts</a>
            </ul>
        </div>



        <div class="form-email">
            <input class="input-email" type="email" id="email" name="email" placeholder="Введіть ваш email"
                aria-label="Email">
            <button class="btn-form-email" type="submit">GO</button>
        </div>
    </div>
    <div class="Privacy-list">
        <p>Privacy Policy Public Offering Agreement</p>
        <p>2023 Focus Frame © All rights reserved</p>
    </div>

</section>