<header class="header-main">
  <div class="container header-container">
    <nav class="nav-menu">
      <a class="logo-main" href="./index.html">
        <svg class="icon-logo" width="127" height="20">
          <use href="./public/favicon.svg#icon-logo"></use>
        </svg>
      </a>
      <ul class="header-nav-list">
        <li class="nav-list-item">
          <a class="nav-link" href="#about-us">About us</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-link" href="#our-courses">Our courses</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-link" href="#our-mentors">Our mentors</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-link" href="#reviews">Reviews</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-link" href="#contacts">contacts</a>
        </li>
      </ul>
      <div class="header-box">
        <a class="camera-link" href="">
          <svg class="camera-icon" width="16" height="16">
            <use href="./public/favicon.svg#icon-camera"></use>
          </svg>
        </a>
        <button class="header-btn" id="header-btn-menu">
          <svg class="header-btn-icon" width="40" height="28">
            <use href="./public/favicon.svg#icon-nav"></use>
          </svg>
        </button>
      </div>
    </nav>
    <a class="header-link" href="#sign-up">Sign up </a>
  </div>
</header>
