<div class="backdrop">
  <div class="header-menu">
    <button class="menu-btn">
      <svg class="menu-btn-icon" width="40" height="40">
        <use href="../public/favicon.svg#icon-x"></use>
      </svg>
    </button>
    <ul class="header-menu-list">
      <li class="menu-list-item">
        <a class="menu-link" href="#about-us">About us</a>
      </li>
      <li class="menu-list-item">
        <a class="nav-link" href="#our-courses">Our courses</a>
      </li>
      <li class="menu-list-item">
        <a class="menu-link" href="#our-mentors">Our mentors</a>
      </li>
      <li class="menu-list-item">
        <a class="menu-link" href="#reviews">Reviews</a>
      </li>
      <li class="menu-list-item">
        <a class="menu-link" href="#contacts">contacts</a>
      </li>
    </ul>
  </div>
</div>
