<section class="hero-section">
  <h1>Discover the magic of photography in our school</h1>
  <p>
    Our photography school offers an unforgettable journey, where you can learn
    the basics of composition, master technical skills, translate your unique
    ideas.
  </p>
  <ul>
    <li><img src="" alt="" /></li>
    <li><img src="" alt="" /></li>
    <li><img src="" alt="" /></li>
  </ul>
  <ul>
    <li>Our happy students</li>

    <svg class="" width="" height="">
      <use href=""></use>
    </svg>
  </ul>

  <svg class="" width="" height="">
    <use href=""></use>
  </svg>
  <ul>
    <li><h2>Reviews</h2></li>
    <li><p>+1500</p></li>
  </ul>
</section>
