<section class="hero-section">
  <div class="container container-hero">
    <div class="hero-section-title">
      <h1>
        Discover the magic of <span class="photography">photography</span> in
        our school
      </h1>
      <p class="hero-section-title-info">
        Our photography school offers an unforgettable journey, where you can
        learn the basics of composition, master technical skills, translate your
        unique ideas.
      </p>

      <div>
        <ul class="students">
          <li><img src="../img/hero/girl1-mob1x.png" alt="" /></li>
          <li><img src="../img/hero/boy-mob1x.png" alt="" /></li>
          <li><img src="../img/hero/girl2-mob1x.png" alt= /></li>
        </ul>
        <a href="">
          <p></p>

          <svg class="" width="" height="">
            <use href=""></use>
          </svg>
        </a>
      </div>
      <div>
        <svg class="" width="" height="">
          <use href=""></use>
        </svg>
        <div>
          <span>Reviews</span>
          <span>+1500</span>
        </div>
      </div>
    </div>
    <div>
      <img src="../img/hero/hero-mob1x.png" alt="camera-man" />
    </div>
  </div>
</section>
