<section>
    <div class="container">
        <h2 class="title">Reviews</h2>
        <div class="rev-menu">
            <ul class="rev-list">
                <li class="rev-item">
                    <div class="rev-item-box">
                        <img class="rev-photo" src="" alt="" />
                        <p class="rev-name">Abraham Baker</p>
                        <p class="rev-position">Student</p>
                        <div class="rev-box-icon">
                            <ul class="rev-icon-list">
                                <li class="rev-icon-item">
                                    <svg class="rev-icon" width="12" height="12">
                                        <use href="../public/favicon.svg#icon-star"></use>
                                    </svg>
                                </li>
                                <li class="rev-icon-item">
                                    <svg class="rev-icon" width="12" height="12">
                                        <use href="../public/favicon.svg#icon-star"></use>
                                    </svg>
                                </li>
                                <li class="rev-icon-item">
                                    <svg class="rev-icon" width="12" height="12">
                                        <use href="../public/favicon.svg#icon-star"></use>
                                    </svg>
                                </li>
                                <li class="rev-icon-item">
                                    <svg class="rev-icon" width="12" height="12">
                                        <use href="../public/favicon.svg#icon-star"></use>
                                    </svg>
                                </li>
                                <li class="rev-icon-item">
                                    <svg class="rev-icon" width="12" height="12">
                                        <use href="../public/favicon.svg#icon-star"></use>
                                    </svg>
                                </li>
                            </ul>
                        </div>
                        <p class="rev-text">
                            I am very pleased that I decided to enroll in photography school. The
                            teachers turned out to be very talented and experienced professionals
                            who share their knowledge and are dedicated to their work. I was able
                            to expand my skills and discover my own style.
                        </p>
                    </div>
                </li>
                <li class="rev-item">
                    <div class="rev-item-box">
                        <img class="rev-photo" src="" alt="" />
                        <p class="rev-name"></p>>Amanda Lowery</p>
                        <p class="rev-position">Student</p>
                        <div class="rev-box-icon">
                            <ul class="rev-icon-list">
                                <li class="rev-icon-item">
                                    <svg class="rev-icon" width="12" height="12">
                                        <use href="../public/favicon.svg#icon-star"></use>
                                    </svg>
                                </li>
                                <li class="rev-icon-item">
                                    <svg class="rev-icon" width="12" height="12">
                                        <use href="../public/favicon.svg#icon-star"></use>
                                    </svg>
                                </li>
                                <li class="rev-icon-item">
                                    <svg class="rev-icon" width="12" height="12">
                                        <use href="../public/favicon.svg#icon-star"></use>
                                    </svg>
                                </li>
                                <li class="rev-icon-item">
                                    <svg class="rev-icon" width="12" height="12">
                                        <use href="../public/favicon.svg#icon-star"></use>
                                    </svg>
                                </li>
                                <li class="rev-icon-item">
                                    <svg class="rev-icon" width="12" height="12">
                                        <use href="../public/favicon.svg#icon-star"></use>
                                    </svg>
                                </li>
                            </ul>
                        </div>
                        <p class="rev-text">
                            The courses at the photography school exceeded all my expectations. I
                            gained not only technical knowledge, but also inspiration and
                            motivation to reach new heights in my creativity. Hands-on classes and
                            workshops helped me understand different styles of photography.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>