.footer {
  border: 2px solid;
  width: 1440px;
  height: 331px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  padding-bottom: 25px;
}
.footer-all {
  display: flex;
}
.footer-logo {
  margin-bottom: 25px;
}
.contacts {
  margin-bottom: 133px;
  margin-right: 340px;
}
.contacts-list {
  color: #fff;
  font-family: 'DM Sans';
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28em;
}
.social-navigation {
  display: flex;
  gap: 100px;
  margin-right: 191px;
}
.navigation-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #fff;
  font-family: 'DM Sans';
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}
.social-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #fff;
  font-family: 'DM Sans';
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}
.input-email {
  width: 216px;
  height: 60px;
  border-radius: 12px;
}
.btn-form-email {
  width: 60px;
  height: 60px;
  border-radius: 12px;
}
.Privacy-list {
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-family: 'DM Sans';
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28em;
}
.social-link {
  color: #fff;
  font-family: 'DM Sans';
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}
